body {
    
    background: pink;
    text-align:center;
}
footer{
    text-align:center;
}
footer a {
   margin:0 10px;
color: floralwhite
}
 .croissant-photo{
     max-width: 100%;
     border-radius: 10px;
     display: block;
     margin: 30px auto;


 }
h1{
    text-align:center;
    color: white;

}
p{
    text-align:center;
}
a{
    color:white;
    
}